*{
    margin: 0;
    padding: 0;
}
.container {
    width: 80%;
}
header{
    height: 250px;
    display: flex;
    margin: 200px auto 0px auto;
 
}
header img {
    margin: auto;

}
section {
    display: flex;
    margin: auto;
    flex-direction: column;

}
section p button{ 
    width: 1000px;
}
.small {
    width: 200px;
}
footer {
   margin-left: 200px;
   margin-right: 100px;
   
}